.input-task {
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding: 10px;
}

.check-all {
  position: absolute;
  right: 0;
  top: 12px;
  width: 20px;
}

.btn {
  cursor: pointer;

  &:hover {
    background-color: rgb(197, 194, 194);
    border: 1px solid pink;
  }
}

.selected {
  background-color: rgb(197, 194, 194);
  border: 1px solid pink;
}
