.checked {
  text-decoration: line-through;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;

  input {
    width: 10%;
  }

  p {
    width: 80%;
  }

  button {
    height: 20px;
  }
}

.del {
  text-decoration: line-through;
}
